*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(243, 218, 168);
}

h1{
    color: black;
}

.ImgSlider{
    width: 60%;
    height: 600px;
    background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/Indias_first_plasma-bank.jpg');
    background-size: 100% 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: changeImage 60s linear infinite;
}

@keyframes changeImage{
    0% {
        background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/Indias_first_plasma-bank.jpg');
    }
    25% {
        background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/plasma-bag_0.jpg');
    }
    50% {
        background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/images%20(20).jpeg.jpg');
    }
    75% {
        background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/images%20(26).jpeg.jpg');
    }
    100% {
        background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/images%20(23).jpeg.jpg');
    }
}